body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: auto;
    background-color: brown;
    
  }
  
  header {
    background-color: white;
    color: black;
    /*padding: 1em;*/
    text-align: center;
    height: auto;
  }
  
  main {
    margin: 2em;
    border: blue;
  }
  
  form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  input, select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    width: 200px;
    position: relative;
    margin-right: 500px;
    margin-top: 10px;
    
  }
  
  button[type="submit"]:hover {
    background-color: blue;
    
    
  }
  
  footer {
    background-color: white;
    color: black;
    /*padding: 5px;*/
    text-align: center;
  }

  #wraper { width: 800px; margin:  auto;
    
    
  }

  
  
  
  
  
        
         